/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  @include bd-radius(30px);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary;
  @include bd-radius(30px);
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.ic-section-space {
  padding: 30px 0;
}

.ic-section-space-top {
  padding-top: 30px;
}

.ic-section-space-bottom {
  padding-bottom: 30px;
}

.ic-btn {
  height: 44px;
  padding: 0 24px;
  @include bd-radius(4px);
  background-color: $primary;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0;
  color: #fff;
  @include transition(0.3s);

  i {
    color: #fff;
    margin-right: 8px;
  }

  svg {
    fill: #fff;
    margin-right: 8px;
  }

  &:hover {
    background-color: #1b88f5;
    color: #fff;
  }
}

.ic-btn-outline {
  @extend .ic-btn;
  background-color: transparent;
  border: 1px solid $primary;
  color: $primary;
  font-weight: 500;
  position: relative;
  @media #{$max767} {
    padding: 0 10px;
  }
p {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #1b88f5;
  font-size: 12px;
  color: #fff;
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
  svg {
    fill: $primary;
    margin-right: 8px;
    width: 19px;
  }

  &:hover {
    svg {
      fill: #fff;
    }
  }
}

.table-bordered> :not(caption)>* {
  border-width: 1px;
}

.table {
  tr {
    td {
      padding: 8px;
    }
  }
}

.form-group {
  margin-bottom: 20px;
}

input {
  border-radius: 2px !important;
  border: 1px solid $gray-light !important;
  width: 100% !important;

  &:focus {
    box-shadow: none !important;
  }

  &::placeholder {
    font-size: 14px !important;
    color: #c5c5c5 !important;
  }
}


.ms__customer--avatar {
  box-shadow: $box-shadow;
  border-radius: 6px;
  background-color: #fff;
  margin-bottom: 30px;

  .ms__img {
    border-radius: 6px 6px 0 0;
    height: 200px;

    img {
      max-width: 100%;
      max-height: 100%;
      height: 100%;
      width: 100%;
    }
  }

  .ms__avatar--profiles {
    margin-top: -55px;
    text-align: center;
    padding-bottom: 25px;
    border-bottom: 1px solid #eaeff3;

    img {
      width: 110px;
      height: 110px;
      border-radius: 50%;
      margin-bottom: 20px;
    }

    h5 {
      padding-bottom: 8px;
    }

    p {
      color: $primary;
    }
  }

  .customer-nav {
    padding-top: 20px;

    li {
      a {
        display: block;
        padding: 15px;
        color: #202020;
        font-weight: 500;
        transition: 0.3s;

        &:hover {
          color: $primary;
          background-color: rgba(65, 144, 222, 0.103);
        }

        &.active {
          color: $primary;
          background-color: rgba(65, 144, 222, 0.103);
        }
      }
    }
  }
}

.figure {
  width: 100%;
}

.vue-tabs {
  gap: 24px;
  align-items: flex-start;
}

.vue-tabs {
  @media #{$max767} {
    flex-direction: column;
  }
}

.left-vertical-tabs {
  flex: 0 0 356px;
  width: 356px;
  padding: 20px 0;
  background-color: #fff;
  box-shadow: $box-shadow;
  border-radius: 6px;

  @media #{$max1399} {
    flex: 0 0 231px;
    width: 231px;
  }

  @media #{$max767} {
    flex: 0 0 100%;
    width: 100%;
  }

  .nav-stacked {
    flex-direction: column;

    .tab {
      a {
        span {
          justify-content: start !important;
          font-weight: 500;
          transition: 0.3s;
          color: $black;
        }

        &.active_tab {
          color: #418fde !important;
          background-color: rgba(65, 144, 222, 0.103) !important;

          span {
            color: #418fde !important;
          }
        }
      }
    }
  }
}
.tab-content {
  flex: 1;
  width: 100%;
}
.vsc-popup-header {
  background-color: $primary;
}

.vsc-popup-button--default {
  @media #{$max991} {
    position: absolute;
    bottom: 60px;
  }

  background-color: $primary;

  &:hover {
    box-shadow: 0 0 0 3px #fff, 0 0 0 6px $primary;
  }
}

/* The Modal (background) */
.ms_modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 9;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);

  /* Black w/ opacity */
  .active {
    display: block;
  }
}

/* Modal Content/Box */
.ms_modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 40px 20px;
  border: 1px solid #888;

  @media (min-width: 576px) {
    width: 500px;
  }

  @media (max-width: 575px) {
    width: 100%;
  }
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.form-check {
  .form-check-input {
    width: 1rem !important;
  }
}

.ms__login--check {
  @include d-flex();
  justify-content: space-between;
  align-items: center;
}


.btn {
  svg {
    fill: #fff;
  }
}

.ms__recentOrder--items {
  box-shadow: $box-shadow;
  border-radius: 10px;
  padding: 8px;
  display: grid;
  grid-template-columns: 50px 200px 1fr 1fr 1fr;
  gap: 10px;
  flex-wrap: nowrap;
  align-items: center;
  // margin-bottom: 20px;
  position: relative;
  &:not(:last-child){
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 84%;
      height: 1px;
      background-color: #ccc;
    }
  }
  @media #{$max991} {
    grid-template-columns: inherit;
    justify-items: center;
    justify-content: space-evenly;
  }
  .ms__recentOrder--img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .ms__recentOrder--name {
    @media #{$max991} {
      text-align: center;
    }
    p {
      font-size: 14px;
    }
  }
  .ms__recentOrder--oty {
    @media #{$max991} {
      text-align: center;
    }
    p {
      font-size: 14px;
      color: $gray-500;
      font-weight: 600;
    }
  }
  .ms__recentOrder--date {
    @media #{$max991} {
      text-align: center;
    }
    p {
      font-size: 14px;
      color: $gray-500;
    }
  }
}

.rate-area {
	float: left;
	border-style: none;
}

.rate-area:not(:checked) > input {
	position: absolute;
	top: -9999px;
	clip: rect(0, 0, 0, 0);
}

.rate-area:not(:checked) > label {
	float: right;
	width: 0.8em;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	font-size: 180%;
	color: lightgrey;
}

.rate-area:not(:checked) > label:before {
	content: "★";
}

.rate-area > input:checked ~ label {
	color: gold;
}

.rate-area:not(:checked) > label:hover,
.rate-area:not(:checked) > label:hover ~ label {
	color: gold;
}

.rate-area > input:checked + label:hover,
.rate-area > input:checked + label:hover ~ label,
.rate-area > input:checked ~ label:hover,
.rate-area > input:checked ~ label:hover ~ label,
.rate-area > label:hover ~ input:checked ~ label {
	color: gold;
}


.ms__social--details {
  padding-top: 30px;
  ul {
    @include d-flex();
    align-items: center;
    gap: 15px;
    li {
      a {
        display: inline-block;
        width: 50px;
        height: 50px;
        @include bd-radius(50%);
        background-color: #1b88f5;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        svg {
          fill: #fff;
        }
        i {
          color: #fff;
        }
      }
    }
  }
}


.timeline {
	&::after {
		content: '';
		position: absolute;
		width: 4px;
    background-color: #ededed;
		top: 0;
		bottom: 0;
    left: 151px;
		margin-left: -3px;
    @media #{$max1399} {
      left: 141px;
    }
    @media #{$max1199} {
      left: 109px;
    }
    @media #{$max991} {
      left: 42px;
    }
    @media #{$max575} {
      left: 8%;
    }
    @media #{$max480} {
      left: 7%;
    }
	}
}
.timeline-container {
	position: relative;
	background-color: inherit;
  width: 82%;
  // border: 1px solid #ccc;
  margin-left: 31px;
  margin-bottom: 20px;
  border-radius: 8px;
  margin-left: auto;
  @media #{$max991} {
    width: 88%;
  }
	&::after {
		content: '';
		position: absolute;
		width: 25px;
		height: 25px;
		
    left: -47px;

		background-color: white;
		border: 4px solid $primary;
		top: 15px;
		border-radius: 50%;
		z-index: 1;
    @media #{$max991} {
      top: 26px;
    }
	}
}
.left {
	left: 0;
	&::before {
		content: " ";
		height: 0;
		position: absolute;
		top: 22px;
		width: 0;
		z-index: 1;
		left: -10px;
		border: medium solid #ccc;
		border-width: 10px 0 10px 10px;
		border-color: transparent #ccc transparent transparent;
	}
}
.right {
	left: 0;
	&::before {
		content: " ";
		height: 0;
		position: absolute;
		top: 22px;
		width: 0;
		z-index: 1;
		left: -10px;
		border: medium solid #ccc;
		border-width: 10px 10px 10px 0;
		border-color: transparent #ccc transparent transparent;
    @media #{$max991} {
      top: 28px;
    }
    
	}
	&::after {
		
    left: -47px;
    @media #{$max767} {
      
      left: -57px;
  
      }
	}
}
.content {
	padding: 0;
	background-color: white;
	position: relative;
	border-radius: 6px;
  .date {
    position: absolute;
    left: -142px;
    top: 17px;
    @media #{$max1399} {
      font-size: 14px;
    }
    @media #{$max1199} {
      left: -125px;
    }
    @media #{$max991} {
      position: static;
    }
  }
}

.ms__review--user {
  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

.ms_product-summery {
  @include d-flex();
  gap: 30px;
  .ms_score {
    h2 {
      span {
        font-size: 25px;
        font-weight: 400;
        color: #ccc;
      }
    }
  }
  .ms__avarage {
    ul {
      li {
        display: flex;
        align-items: center;
        gap: 10px;
        span {
          svg {
            fill: #deb217;
          }
        }
         .progress {
          width: 180px;
         }
         .progress-bar {
          background-color: #deb217;
        }
      }
    }
  }
}

.ms__review--system {
  padding-bottom: 10px;
  border-bottom: 1px solid #f5f5f5;
  margin-bottom: 5px;
  span {
    @include d-flex();
    padding-bottom: 4px;
    svg {
      width: 16px;
      height: 16px;
      fill: #deb217;
    }
  }
  .ic__discription {
    font-size: 14px;
  }
}