/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  @include bd-radius(30px);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary;
  @include bd-radius(30px);
}

ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

.ic-section-space {
  padding: 30px;
}
.ic-section-space-top {
  padding-top: 30px;
}
.ic-section-space-bottom {
  padding-bottom: 30px;
}

.ic-btn {
  height: 44px;
  padding: 0 24px;
  @include bd-radius(4px);
  background-color: $primary;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0;
  color: #fff;
  @include transition(0.3s);  
  i {
    color: #fff;
    margin-right: 8px;
  }
  svg {
    fill: #fff;
    margin-right: 8px;
  }
  &:hover {
    background-color: #1b88f5;
    color: #fff;
  }
}

.ic-btn-outline {
  @extend .ic-btn;
  background-color: transparent;
  border: 1px solid $primary;
  color: $primary;
  font-weight: 500;
  svg {
    fill: $primary;
    margin-right: 8px;
  }
  &:hover {
    svg {
      fill: #fff;
    }
  }
}

.table-bordered > :not(caption) > * {
  border-width: 1px;
}

.table {
  tr {
    td {
      padding: 8px;
    }
  }
}

.form-group {
  margin-bottom: 20px;
}

input {
  border-radius: 2px!important;
  border: 1px solid $gray-light!important;
  width: 100%!important;
  &:focus {
    box-shadow: none!important;
  }
  &::placeholder {
    font-size: 14px!important;
    color: #c5c5c5!important;
  }
}