
$font-roboto: 'Roboto', sans-serif;
$font-roboto-con: 'Roboto Condensed', sans-serif;

$primary: #418fde;
$secondary: #E51E27;
$white: #fff;
$gray-deep: #354f52;
$gray-light: #edede9;

$box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;